@model HtmxTables.Pages.Person
@{
    var id = $"person-{Model.Id}";
    var selector = $"#{id}";
}

<tr id="@id" hx-swap="outerHTML" hx-include="input" >
    <td>
        <label asp-for="Name" class="is-hidden">Name</label>
        <input class="input" type="text" asp-for="Name"/>
    </td>
    <td>
        <label asp-for="Age" class="is-hidden">Age</label>
        <input class="input" type="number" asp-for="Age"/>
    </td>
    <td class="has-text-right">
        <button class="button is-success"
                hx-post="@Url.Page("Index", "Update", new {Model.Id})"
                hx-target="@selector"
                hx-include="@selector input">
            <span class="icon">
                <i class="fa fa-save"></i>
            </span>
            <span>Save</span>
        </button>
        <button class="button is-warning"
                hx-get="@Url.Page("Index", "Row", new {Model.Id})"
                hx-target="@selector">
            <span class="icon">
                <i class="fa fa-exclamation-triangle"></i>
            </span>
            <span>Cancel</span>
        </button>
        @Html.AntiForgeryToken()
    </td>
</tr>